.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/src/assets/background-login.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .login-container {
    background-color: rgba(0, 0, 0, 0.85);
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: white;
    animation: fadeIn 1s ease-in-out;
    width: 40%; 
    max-width: 500px; 
    min-width: 300px; 

    h1 {
      margin-bottom: 30px;
      font-family: 'Poppins', sans-serif;
      font-size: 2.5rem;
      color: #fff;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;

      input {
        width: 100%;
        padding: 15px;
        margin: 15px 0;
        border: none;
        border-radius: 40px;
        font-size: 1.2rem;
        background-color: rgba(255, 255, 255, 0.15);
        color: #fff;
        font-family: 'Poppins', sans-serif;
        transition: background-color 0.3s ease-in-out;

        &::placeholder {
          color: rgba(255, 255, 255, 0.8);
        }

        &:focus {
          outline: none;
          background-color: rgba(255, 255, 255, 0.25);
        }
      }

      button {
        width: 100%;
        padding: 15px;
        border: none;
        background-color: #ff4500;
        color: white;
        font-weight: bold;
        border-radius: 40px;
        cursor: pointer;
        margin-top: 20px;
        font-size: 1.2rem;
        transition: background-color 0.3s ease-in-out;
        font-family: 'Poppins', sans-serif;

        &:hover {
          background-color: #ff6347;
        }
      }

      span {
        font-size: 16px;
        color: #ff4500;
        margin-top: 20px;
        font-family: 'Poppins', sans-serif;
      }
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  // Media queries untuk tampilan mobile
  @media (max-width: 768px) {
    .login-container {
      width: 40vw; /* Mengatur lebar menjadi 40% dari layar mobile */
      padding: 30px;
    }

    h1 {
      font-size: 1.8rem; /* Ukuran heading lebih kecil pada mobile */
    }

    input {
      padding: 12px;
      font-size: 0.9rem; /* Font size lebih kecil untuk input pada mobile */
    }

    button {
      padding: 12px;
      font-size: 0.9rem; /* Font size lebih kecil untuk tombol pada mobile */
    }

    span {
      font-size: 0.8rem; /* Font size lebih kecil untuk pesan kesalahan pada mobile */
    }
  }
}
